<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EvSys</title>
  
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/css/style.css">    
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="/css/mensajes.css" />
    <link rel="stylesheet" href="/css/lineicons1.css">
    <script src="/js/gridjs.umd.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/use.fontawesome.com_releases_v6.3.0_js_all.js"></script>
    <script src="/js/jquery-ui.min.js"></script> 
  

    <style>
        a,span{
            text-decoration: none;
        }

        .btn-primary{
            background: #02264d ;
            border-color: #02264d;
        }

        h2{
            color:#02264d; ;
        }

        .btn-success{
            background: rgb(169, 168, 168);
            border-color:rgb(169, 168, 168);
        }

        .btn-success:hover{
            background: gray;
            border-color: gray;
        }

        .wrapper2, .nav-link{
            display: none;
        }        
    </style>

</head>

<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <input type="hidden" value= "<%= session.user.id  %>" id="codigo">
                <button class="toggle-btn" type="button">
                    <i class="fa-solid fa-bars" style="font-size: 1.5em; color: white;"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="/auth/index"><img src="/img/logomini.png" style="width: 70px; margin-left:28px; margin-top: 20px"></a>
                    
                </div>
            </div>
            <ul class="sidebar-nav">
                <%if(session.user.roles == 1 || session.user.roles == 3 ){%>                
                <li class="sidebar-item" >
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#compras" aria-expanded="false" aria-controls="compras">
                        <i class="fa-solid fa-hand-holding-dollar" style="font-size: 1.5em;"></i>
                        <span>Pedidos</span>
                    </a>
                    <ul id="compras" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/compras/nuevo" class="sidebar-link">Nuevo</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/compras/lista" class="sidebar-link">Listado</a>
                        </li>
                    </ul>
                </li><% } %>
                <%if(session.user.roles == 1 || session.user.roles == 2 ){%>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#ventas" aria-expanded="false" aria-controls="ventas">                        
                        <i class="fa-brands fa-shopify" style="font-size: 1.5em;"></i>
                        <span>Ventas</span>
                    </a>
                    <ul id="ventas" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/ventas/nuevo" class="sidebar-link">Nueva</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/ventas/lista" class="sidebar-link">Listado</a>
                        </li>
                    </ul>
                </li><% } %>
                <%if(session.user.roles == 1 || session.user.roles == 3 ){%>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#productos" aria-expanded="false" aria-controls="productos">
                        <i class="fa-solid fa-boxes-stacked" style="font-size: 1.5em;"></i>
                        <span>Productos</span>
                    </a>
                    <ul id="productos" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="/productos/nuevo" class="sidebar-link">Nuevo</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/productos/lista" class="sidebar-link">Listado</a>
                        </li>
                    </ul>
                </li><% } %>
                <%if(session.user.roles == 1){%>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#categorias" aria-expanded="false" aria-controls="categorias">
                        <i class="fa-solid fa-list" style="font-size: 1.5em;"></i>
                        <span>Categorías</span>
                    </a>
                    <ul id="categorias" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">                          
                                <li class="sidebar-item">
                                    <a href="/categorias/nuevo" class="sidebar-link">Nueva</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="/categorias/lista" class="sidebar-link">Listado</a>
                                </li>                   
                    </ul>
                </li><% } %>
                <%if(session.user.roles == 1 || session.user.roles == 3){%>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#proveedores" aria-expanded="false" aria-controls="proveedores">
                        <i class="fa-regular fa-handshake" style="font-size: 1.5em;"></i>
                        <span>Proveedores</span>
                    </a>
                    <ul id="proveedores" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">                          
                                <li class="sidebar-item">
                                    <a href="/proveedores/nuevo" class="sidebar-link">Nuevo</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="/proveedores/lista" class="sidebar-link">Listado</a>
                                </li>                   
                    </ul>
                </li><% } %>
                <%if(session.user.roles == 1 || session.user.roles == 2 ){%>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#clientes" aria-expanded="false" aria-controls="clientes">
                        <i class="fa-solid fa-person" style="font-size: 1.5em;"></i>
                        <span>Clientes</span>
                    </a>
                    <ul id="clientes" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">                          
                                <li class="sidebar-item">
                                    <a href="/clientes/nuevo" class="sidebar-link">Nuevo</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="/clientes/lista" class="sidebar-link">Listado</a>
                                </li>                   
                    </ul>
                </li><% } %>
                <%if(session.user.roles == 1){%>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                            data-bs-target="#usuarios" aria-expanded="false" aria-controls="usuarios">
                            <i class="fa-regular fa-user" style="font-size: 1.5em;"></i>
                            <span>Usuarios</span>
                        </a>
                        <ul id="usuarios" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">                          
                                    <li class="sidebar-item">
                                        <a href="/usuarios/nuevo" class="sidebar-link">Nuevo</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="/usuarios/lista" class="sidebar-link">Listado</a>
                                    </li>                   
                        </ul>
                    </li>
                    <% } %>
                <%if(session.user.roles == 1){%>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" id="reportes">
                        <i class="fa-solid fa-chart-gantt" style="font-size: 1.5em;"></i>
                        <span>Reportes</span>
                    </a>                    
                </li><% } %>
               
            </ul>
            <!-- <div class="sidebar-footer">
                <a href="/auth/login" class="sidebar-link">
                    <i class="fa-solid fa-right-from-bracket fa-flip-horizontal" style="font-size: 1.5em;"></i>
                    <span>Logout</span>
                </a>
            </div> -->
        </aside>
        <div class="main">
            <nav class="navbar navbar-expand px-4 py-3">
              <h4 class="wrapper2">¡Hola, <%= session.user.username %>! </h4>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a href="#" data-bs-toggle="dropdown" class="nav-link dropdown-toggle">
                                <i style="font-size: 1.5em; color: #02264d;" class="fa-solid fa-user-gear"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end rounded" style="background-color: #02264d;">
                                <li><a class="dropdown-item sidebar-link" style="color: white;" data-bs-toggle="modal" data-bs-target="confirmDeleteModal" id="cambiarContraseña">Cambiar contraseña</a></li>

                                <li><a class="dropdown-item sidebar-link" style="color: white;" href="/auth/cerrarSesion" id="cerrarSesion">Cerrar Sesión</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

<!--     Modal de cambio de contraseña -->
<form action="" id="nuevaContraseña">             
    <div class="modal fade" id="cambioContraseñaModal" tabindex="-1" role="dialog" aria-labelledby="cambioContraseñaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between">
                    <h5 class="modal-title" id="cambioContraseñaModalLabel">Cambiar Contraseña</h5>
                    <div class="btn-close" data-bs-dismiss="modal"></div>
                </div>
                <div class="modal-body col-sm-12">
                    <div class="row form-group text-center d-flex justify-content-center">
                        <div class="col-sm-6">
                            <label for="contraseñaA" class="d-block text-center">Ingresa la contraseña actual</label>
                            <input class="form-control" type="password" id="contraseñaA" name="contraseñaA" required>
                        </div>                            
                    </div>
                    <div class="row form-group text-center d-flex justify-content-center">
                        <div class="col-sm-6">
                            <label for="contraseñan" class="d-block text-center">Ingresa la nueva contraseña</label>
                            <input class="form-control" type="password" id="contraseñan" name="contraseñan" required>
                        </div>                            
                    </div>
                    <div class="row form-group text-center d-flex justify-content-center">
                        <div class="col-sm-6">
                            <label for="contraseñaN" class="d-block text-center">Confirma la nueva contraseña</label>
                            <input class="form-control" type="password" id="contraseñaN" name="contraseñaN" required>
                        </div>                            
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="confirmarCambio">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</form>                
<!--     Modal de cambio de contraseña -->

<!--     Modal de reportes -->       
    <div class="modal fade modal-lg" id="modalReportes" tabindex="-1" role="dialog" aria-labelledby="modalReporteComprasLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-between">
            <h5 class="modal-title" id="modalReporteComprasLabel">Generar Reporte</h5>
            <div class="btn-close" data-bs-dismiss="modal"></div>
            </div>
            <div class="modal-body">
                
                <div class="row">
                    <div class="col-sm-11 mb-2">
                        <div class=" row d-flex justify-content-start">
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <label for="fechaInicioC">Fecha de Inicio</label>
                                <input class="form-control" type="date" id="fechaInicioC" name="fechaInicioC" required>
                                    </div>                                    
                                </div>                                
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <label for="fechaFinC">Fecha de Fin</label>
                                        <input class="col form-control" type="date" id="fechaFinC" name="fechaFinC" required>
                                    </div>                                    
                                </div>                                
                            </div>
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-9">
                                        <label for="tipo">Tipo</label>
                                        <select id="tipo" name="tipo" class="form-select">
                                            <option value="">Seleccione</option>
                                            <option value="1">Pedidos</option>
                                            <option value="2">Ventas</option>
                                        </select>
                                    </div>                                    
                                </div>                                
                            </div>
                        </div>
                    </div>                    
                </div>                    
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="generarReporte">Confirmar</button>
            </div>
        </div>
        </div>
    </div>             
<!--     Modal de reportes -->

<div id="contenedor-mensajes"></div>        
<script src="/js/general.js"></script> 
    <script>
        $(document).ready(function(){
            
            $(".wrapper2").fadeIn(1500)
            $(".nav-link").fadeIn(1500)
            $(".wrapper").fadeIn(1500)
            

            $("#cambiarContraseña").on('click', function(){
                $('#cambioContraseñaModal').modal('show');
            })       
            
            
            $("#confirmarCambio").on('click', function(){
 
                var formData = {
                    codigo : $("#codigo").val(),
                    contraseñaNueva : $("#contraseñaN").val()
                }
                formData = JSON.stringify(formData);
    
                if (!procesarFormulario("nuevaContraseña")) return false;                        
                if($("#contraseñan").val() != $("#contraseñaN").val()){
                    mostrarMensaje("error", "La nueva contraseña no coincide");
                }
                if($("#contraseñaN").val() == $("#contraseñaA").val()){
                    mostrarMensaje("error", "La nueva contraseña no puede ser igual a la anterior");
                }

                var contraseña = $("#contraseñaN").val();
                if (contraseña.length < 4) {
                    mostrarMensaje("error", "La nueva contraseña debe tener al menos 4 caracteres.");
                    return;
                }

                $.ajax({
                    type: 'POST',
                    url: '/auth/cambiarContrasena', // Reemplaza con la URL del servidor donde procesas los datos
                    data: formData,
                    contentType: 'application/json',
                    success: function(response) {
                        // Manejar la respuesta del servidor
                        mostrarMensaje("completado", "Se ha modificado la contraseña de forma exitosa");
                        window.location.href = '/auth/index';
                    },
                    error: function(jqXHR, textStatus, errorThrown) {                                
                        $('#respuesta').html('<p>Ocurrió un error: ' + textStatus + ' - ' + errorThrown + '</p>');
                    }
                });
            })
            
            $("#reportes").on('click', function(){
                $('#modalReportes').modal('show')
            })

            $("#generarReporte").on('click', function(){

                var formData = {
                    fechaInicio : $("#fechaInicioC").val(),
                    fechaFin : $("#fechaFinC").val(), 
                    tipo: $("#tipo").val()
                }                    
                formData = JSON.stringify(formData);
                $.ajax({
                    type: 'POST',
                    url: '/reportes/reporteCompras', // Reemplaza con la URL del servidor donde procesas los datos
                    data: formData,
                    contentType: 'application/json',
                    success: function(response) {
                        // Manejar la respuesta del servidor
                        mostrarMensaje("completado", "Se ha generado el reporte de forma exitosa");
                        window.location.href = response.redirectUrl;
                    },
                    error: function(jqXHR, textStatus, errorThrown) {                                
                        $('#respuesta').html('<p>Ocurrió un error: ' + textStatus + ' - ' + errorThrown + '</p>')
                    }
                })


            })


        })
    </script>

            <main class="content px-3">
                <div class="container-fluid">
