</div>
</main>
<footer class="mt-auto col-sm-12">
    <div class="container-fluid" >
        <div class="text-center text-body-secondary">
            <div>
                    <strong style="color: #333333;">CodzSwod</strong>
            </div>
        </div>
    </div>
</footer>
</div>
</div>
<script src="/js/gridjs.umd.js"></script>
<script src="/js/use.fontawesome.com_releases_v6.3.0_js_all.js"></script>
<script src="/js/jquery-ui.min.js"></script> 
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/general.js"></script> 
</body>
</html>