<%- include('../header') %>
      <!-- Aquí se mostrará el PDF -->
      <% if (showPDF) { %>
        <object data="/reportes/notaEntrega/<%= id %>" type="application/pdf" width="100%" height="600px">
          <p>Tu navegador no soporta la visualización de PDF.</p>
        </object>
      <% } %>
<%- include('../footer') %>