<div class="row mb-3">
    <div class="col-md-6">
      <div class="mb-3">
        <label for="total" class="form-label">Total</label>
        <input class="form-control" type="text" id="total">
      </div>
      <div class="mb-3">
        <label for="descuento" class="form-label">Descuento (%)</label>
        <input class="form-control" type="text" id="descuento">
      </div>
      <div class="mb-3">
        <label for="deuda" class="form-label">Deuda</label>
        <input class="form-control" type="text" id="deuda">
      </div>
      <div class="mb-3">
        <label for="vuelto" class="form-label">Vuelto</label>
        <input class="form-control" type="text" id="vuelto">
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="mb-3">
        <label for="debito" class="form-label">Débito</label>
        <input class="form-control" type="text" id="debito">
      </div>
      <div class="mb-3">
        <label for="credito" class="form-label">Crédito</label>
        <input class="form-control" type="text" id="credito">
      </div>
      <div class="mb-3">
        <label for="efectivo" class="form-label">Efectivo</label>
        <input class="form-control" type="text" id="efectivo">
      </div>
      <div class="mb-3">
        <label for="divisas" class="form-label">Divisas</label>
        <input class="form-control" type="text" id="divisas">
      </div>
      <div class="mb-3">
        <label for="pgmovil" class="form-label">Pagomóvil</label>
        <input class="form-control" type="text" id="pgmovil">
      </div>
      <div class="mb-3">
        <label for="biopago" class="form-label">Biopago</label>
        <input class="form-control" type="text" id="biopago">
      </div>              
    </div>
  </div>